name: clippy

on:
  pull_request:
  push:
    tags:
    branches:
      - master

jobs:
  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
      - run: cargo clippy -- --deny warnings
